<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
</head>
<body>
<section class="container">
    <div th:if = "${param.error}" class="alert alert-danger text-center">
        Invalid username or password
    </div>
    <div th:if = "${param.logout}" class="alert alert-success text-center">
        You have been logged out!
    </div>
    <header>Login Page</header>
    <form th:action="@{/do-login}" method="post" class="form">
        <div class="input-box">
            <label>Enter Email</label>
            <input type="text" name="username" id="username" placeholder="Enter Email " required />
        </div>

        <div class="input-box">
            <label>Password</label>
            <input type="text" name="password" id="password"   placeholder="Enter Your Password" required />
        </div>
        <button type="submit">Login</button>
    </form>
</section>
</body>
</html>